<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  
    <ion-title>Chuyến xe</ion-title>
     
  </ion-navbar>
</ion-header>

<ion-content padding>
	
<b>Hello {{userDetails.name}} | {{blance_response.balance}}</b>   <a (click)="logout()"> <ion-icon name="log-out"></ion-icon> Thoát</a> <br/><br/>
	<ion-list>
	
    <ion-item *ngFor="let post of resposeData; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
	
		<div class="job">
			<h3>
				<div class="header">
					CX{{post.id}} <span class="blue"><b>{{post.seats}}c</b></span> <span class="blue">{{post.pick_up_time}}</span> | <b><span class="red">{{post.fee}}</span></b>
				</div>
				<div class="name">
					{{post.title}}
				</div>
				
			</h3>	
			
			<div *ngIf="isGroupShown(i)" >
				<div class="pricing">
					<ul>
						<li><b>Phải thu của khách: </b>{{post.sale_price}}</li>
						<li><b>Lái xe thực nhận: </b>{{post.fee}}</li>
						<li><b>Phí của Ycar: </b>{{post.ycarfee}}</li>
					</ul>	
				</div>
				<div class="note">
					{{ post.flight_number != '' ? 'Mã chuyến bay: ' : '' }}{{ post.flight_number != '' ? post.flight_number : '' }}
                    <div *ngIf="post.add_location">
                    <div class="add_location">
                        <div>{{ post.add_location == 1 ? 'Đón/trả thêm khách tại:' : '' }} </div>
                      
                        <div>{{post.add_location == 1 ? post.address_1:''}}</div>
                       <div> {{post.add_location == 1  ? post.address_2:''}} </div>
                    </div>
                    </div>    
                    <div>
                         {{post.comment}}
                    </div>
                   
				</div>
				<button ion-button full (click)="presentConfirm(post.id)" class="buy button-blue {{post.button}}">Mua chuyến</button>
<div class="error">{{post.can_buy}}</div>
				
			</div>	
			
		</div>
	
    </ion-item>
  </ion-list>
    <br/>

</ion-content>